<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial scale=1.0">
	<link rel="stylesheet" type=text/css href="{{url_for('static', filename='main.css')}}">
</head>
<body>
	<header class="header">
		<div class="title">
			<h1>Item-Catalog App</h1>
		</div>
	</header>
	<div class="container">
		<div class="grid-container">
			<div class="menu">
                {% for category in categories %}
                <p>
					<a href="{{url_for('categoryItems', category_id = category.id)}}"> {{category.name}}</a>
                </p>
                {% else %}
                    <h3> This is a test, no entries </h3>
				{% endfor %}
			</div>
			<div class="item">
				{% for item in items %}
					<p>
                        <h3>{{item.name}}</h3><br>
                        <br>{{item.description}} <br>
                    </p>
                {% else %}
                    <h1>Latest Items</h1>
                    {% for latestItem in latestItems %}
                    <p>
                        {{latestItem.name}}
                    </p>
                    {% else %}
                        <h3> This is a test for no entries </h3>
                    {% endfor %}
				{% endfor %}
			</div>
        </div>
    </div>
    <a class="loginbutton" href="">Login</a>
    <div class="flash">	
        {% with messages = get_flashed_messages() %}
            {% if messages %}
                <ul>
                {% for message in messages %}
                    <li>{{message}}</li>
                {% endfor %}
                </ul>
            {% else %}
                This is a test flash message.       
            {% endif %}
        {% endwith %}
    </div>  
</body>
</html>


